#topBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border-radius: 5%;
    padding: 10px 15px;
}

.active-bar {
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.8);
}

.profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.profile-img1 {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.form-control:focus {
    border-color: #dc3545;
    /* Bootstrap danger */
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.blur45 {
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
    /* Safari uchun */
}

body {
    margin-top: 20px;
}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.border-top {
    border-top: 1px solid #dee2e6 !important;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.custom-shadow {
    animation: shadowMove 30s infinite ease-in-out;
}

@keyframes shadowMove {
    0% {
        filter: drop-shadow(0px 15px 20px rgb(255, 0, 0));
    }

    25% {
        filter: drop-shadow(5px 30px 60px rgb(98, 0, 255));
    }

    50% {
        filter: drop-shadow(0px 50px 40px rgb(0, 174, 255));
    }

    75% {
        filter: drop-shadow(-5px 25px 70px rgb(251, 255, 0));
    }

    100% {
        filter: drop-shadow(0px 15px 20px rgb(255, 0, 0));
    }
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

.hero {
    background: linear-gradient(to bottom right, rgb(202, 240, 248), rgb(202, 240, 248, 0.8));
    position: relative;
    height: 100vh;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}

.hero__title {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    z-index: 1;
}

.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #3377ff;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    -webkit-animation: cube 12s ease-in forwards infinite;
    animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
    border-color: #0051f4;
}

.cube:nth-child(2) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}

.cube:nth-child(3) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}

.cube:nth-child(4) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}

.cube:nth-child(5) {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}

.cube:nth-child(6) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}

@-webkit-keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}


.custom-shadow2 {
    filter: drop-shadow(0px 10px 20px rgba(255, 255, 255, 0.5));
}

body {
    min-height: 100vh;

    background: linear-gradient(to bottom right, rgb(202, 240, 248), rgb(202, 240, 248, 0.8));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card-shadow {
    background: linear-gradient(to bottom right, rgb(0, 98, 255), rgb(255, 255, 255));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-custom-dark {
    background-color: rgb(0, 48, 73);
}

.text-custom-dark {
    color: rgb(0, 48, 73);
}

.mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}