#topBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border-radius: 5%;
    padding: 10px 15px;
}

.active-bar{
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.8);
}

.profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.profile-img1 {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.form-control:focus {
    border-color: #dc3545;
    /* Bootstrap danger */
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.blur45 {
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
    /* Safari uchun */
}

body {
    margin-top: 20px;
}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.border-top {
    border-top: 1px solid #dee2e6 !important;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.custom-shadow {
    filter: drop-shadow(0px 10px 20px rgba(165, 0, 0, 0.4));
}

.gradient-custom {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(252, 144, 144), rgb(109, 106, 255));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(252, 144, 144), rgb(109, 106, 255))
}

.mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}